<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        * { margin: 0; padding: 0; border: 0; outline: 0; }
        html, body { width: 100%; height: 100%; }
        body { font: 300 16px/normal sans-serif; }
        #root { width: 100%; height: 100%; position: relative; }
        .maketa { width: 100%; height: 100%; }
    </style>
</head>
<body>
<div id="root"></div>
<%-maketa.scripts%>
</body>
</html>